/01.git_guide.md
/01.javascript                        
/02.pull_request.md          
/00.tools.md  
/02.1.pull_request_best_practices.md  
/03.figma_guide.md  
/02.Capstone_Project_Details/server/node_modules
